# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

Carthage
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/
Example/Pods/MJRefresh/MJRefresh/MJRefresh.bundle/ko.lproj/Localizable.strings
Example/Pods/MJRefresh/MJRefresh/MJRefresh.bundle/ru.lproj/Localizable.strings
Example/Pods/MJRefresh/MJRefresh/MJRefresh.bundle/uk.lproj/Localizable.strings
Example/Pods/MJRefresh/MJRefresh/MJRefreshConfig.h
Example/Pods/MJRefresh/MJRefresh/MJRefreshConfig.m
Example/Pods/SDWebImage/SDWebImage/Core/NSButton+WebCache.h
Example/Pods/SDWebImage/SDWebImage/Core/NSButton+WebCache.m
Example/Pods/SDWebImage/SDWebImage/Core/NSData+ImageContentType.h
Example/Pods/SDWebImage/SDWebImage/Core/NSData+ImageContentType.m
Example/Pods/SDWebImage/SDWebImage/Core/NSImage+Compatibility.h
Example/Pods/SDWebImage/SDWebImage/Core/NSImage+Compatibility.m
Example/Pods/SDWebImage/SDWebImage/Core/SDAnimatedImage.h
Example/Pods/SDWebImage/SDWebImage/Core/SDAnimatedImage.m
Example/Pods/SDWebImage/SDWebImage/Core/SDAnimatedImagePlayer.h
Example/Pods/SDWebImage/SDWebImage/Core/SDAnimatedImagePlayer.m
Example/Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageRep.h
Example/Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageRep.m
Example/Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageView+WebCache.h
Example/Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageView+WebCache.m
Example/Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageView.h
Example/Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageView.m
Example/Pods/SDWebImage/SDWebImage/Core/SDDiskCache.h
Example/Pods/SDWebImage/SDWebImage/Core/SDDiskCache.m
Example/Pods/SDWebImage/SDWebImage/Core/SDGraphicsImageRenderer.h
Example/Pods/SDWebImage/SDWebImage/Core/SDGraphicsImageRenderer.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageAPNGCoder.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageAPNGCoder.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageCache.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageCache.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageCacheConfig.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageCacheConfig.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageCacheDefine.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageCacheDefine.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageCachesManager.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageCachesManager.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageCoder.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageCoder.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageCoderHelper.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageCoderHelper.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageCodersManager.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageCodersManager.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageFrame.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageFrame.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageGIFCoder.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageGIFCoder.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageGraphics.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageGraphics.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageHEICCoder.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageHEICCoder.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageIOAnimatedCoder.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageIOAnimatedCoder.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageIOCoder.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageIOCoder.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageLoader.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageLoader.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageLoadersManager.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageLoadersManager.m
Example/Pods/SDWebImage/SDWebImage/Core/SDImageTransformer.h
Example/Pods/SDWebImage/SDWebImage/Core/SDImageTransformer.m
Example/Pods/SDWebImage/SDWebImage/Core/SDMemoryCache.h
Example/Pods/SDWebImage/SDWebImage/Core/SDMemoryCache.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageCacheKeyFilter.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageCacheKeyFilter.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageCacheSerializer.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageCacheSerializer.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageCompat.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageCompat.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageDefine.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageDefine.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloader.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloader.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderConfig.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderConfig.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderDecryptor.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderDecryptor.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderOperation.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderOperation.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderRequestModifier.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderRequestModifier.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderResponseModifier.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderResponseModifier.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageError.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageError.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageIndicator.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageIndicator.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageManager.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageManager.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageOperation.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageOptionsProcessor.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageOptionsProcessor.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImagePrefetcher.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImagePrefetcher.m
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageTransition.h
Example/Pods/SDWebImage/SDWebImage/Core/SDWebImageTransition.m
Example/Pods/SDWebImage/SDWebImage/Core/UIButton+WebCache.h
Example/Pods/SDWebImage/SDWebImage/Core/UIButton+WebCache.m
Example/Pods/SDWebImage/SDWebImage/Core/UIImage+ExtendedCacheData.h
Example/Pods/SDWebImage/SDWebImage/Core/UIImage+ExtendedCacheData.m
Example/Pods/SDWebImage/SDWebImage/Core/UIImage+ForceDecode.h
Example/Pods/SDWebImage/SDWebImage/Core/UIImage+ForceDecode.m
Example/Pods/SDWebImage/SDWebImage/Core/UIImage+GIF.h
Example/Pods/SDWebImage/SDWebImage/Core/UIImage+GIF.m
Example/Pods/SDWebImage/SDWebImage/Core/UIImage+MemoryCacheCost.h
Example/Pods/SDWebImage/SDWebImage/Core/UIImage+MemoryCacheCost.m
Example/Pods/SDWebImage/SDWebImage/Core/UIImage+Metadata.h
Example/Pods/SDWebImage/SDWebImage/Core/UIImage+Metadata.m
Example/Pods/SDWebImage/SDWebImage/Core/UIImage+MultiFormat.h
Example/Pods/SDWebImage/SDWebImage/Core/UIImage+MultiFormat.m
Example/Pods/SDWebImage/SDWebImage/Core/UIImage+Transform.h
Example/Pods/SDWebImage/SDWebImage/Core/UIImage+Transform.m
Example/Pods/SDWebImage/SDWebImage/Core/UIImageView+HighlightedWebCache.h
Example/Pods/SDWebImage/SDWebImage/Core/UIImageView+HighlightedWebCache.m
Example/Pods/SDWebImage/SDWebImage/Core/UIImageView+WebCache.h
Example/Pods/SDWebImage/SDWebImage/Core/UIImageView+WebCache.m
Example/Pods/SDWebImage/SDWebImage/Core/UIView+WebCache.h
Example/Pods/SDWebImage/SDWebImage/Core/UIView+WebCache.m
Example/Pods/SDWebImage/SDWebImage/Core/UIView+WebCacheOperation.h
Example/Pods/SDWebImage/SDWebImage/Core/UIView+WebCacheOperation.m
Example/Pods/SDWebImage/SDWebImage/Private/SDAssociatedObject.h
Example/Pods/SDWebImage/SDWebImage/Private/SDAssociatedObject.m
Example/Pods/SDWebImage/SDWebImage/Private/SDDeviceHelper.h
Example/Pods/SDWebImage/SDWebImage/Private/SDDeviceHelper.m
Example/Pods/SDWebImage/SDWebImage/Private/SDDisplayLink.h
Example/Pods/SDWebImage/SDWebImage/Private/SDDisplayLink.m
Example/Pods/SDWebImage/SDWebImage/Private/SDFileAttributeHelper.h
Example/Pods/SDWebImage/SDWebImage/Private/SDFileAttributeHelper.m
Example/Pods/SDWebImage/SDWebImage/Private/SDImageHEICCoderInternal.h
Example/Pods/SDWebImage/SDWebImage/Private/SDImageIOAnimatedCoderInternal.h
Example/Pods/Target Support Files/SDWebImage/SDWebImage-umbrella.h